@font-face {
    font-family: extra_bold;
    src: url(../fonts/Proxima/Proxima/extra-Bold.ttf);
}
@font-face {
    font-family: proxima_bold;
    src: url(../fonts/Proxima/Proxima/proxima-Bold.ttf);
}
@font-face {
    font-family: proxima_medium;
    src: url(../fonts/Proxima/Proxima/proxima-Medium.ttf);
}
@font-face {
    font-family: proxima_regular;
    src: url(../fonts/Proxima/Proxima/proxima-Regular.ttf);
}


/*@font-face {
    font-family: proxima_italic;
    src: url(../fonts/Proxima/Proxima/proxima-Italic.ttf);
}*/

#map {
 	display: table-cell;
  height: 100%;

}
html, body {
	height: 100%;
	margin: 0;
  padding: 0;
  overflow: hidden;
}

.main-container-cont{
  display: table;
  position: relative;
  height: 100vh;
  width: 100vw;
}

.ambee-loader-container{
  display: table;
  height: 100%;
  width: 100%;
  position: absolute;
  background:rgba(128,128,128,0.4);
  z-index: 9999999;
}
.ambee-loader-wrapper{
  height: 100px;
  width: 100px;
  opacity: 1;
  margin-left: calc(50% - 50px);
  margin-top: calc(50vh - 50px); 
}
.ambee-loader-container{
  display: table;
  position: absolute;
  z-index: 99999999999999999;
  height: 100%;
  width: 100%;
}

.docker-container{
  display: table-cell;
  height: 100%;
  width: 25%;
  border-right: 1px solid lightgrey;
  border-radius: 2px;
  background: #fff;
}
.docker-wrapper{
  width: 90%;
  height: 100%;
  margin-top: 30px;
  padding: 0px 0px 0px 10px;
  /*margin-left: calc(50% - 180px);*/
}
.ambee-logo-container{
	height: 30px;
	width: 180px;
	margin-left: calc(50% - 90px);
	margin-bottom: 31px;
	background-image: url('../img/Ambee logo.svg');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
#date {
	height: 100%;
	height: 20px;
	text-align: center;
	font-family:proxima_medium;
  color: #333333;
	font-size: 25px;

}

.slidecontainer {
  margin-top: 14px;
  width: 99%;
  height: 40px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 7px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background:#2296c9;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #4CAF50;
  cursor: pointer;
}

.pm-card-container{
	height: 160px;
	width: 100%;
	margin-top: 30px;
	border-radius: 2px;
}

.pm-label-wrapper{
	display: table;
	width: 100%;
	margin-top: 20px;
}

.pm-label-container{
	display: table-cell;
	width: 50%;
	font-family: proxima_medium;
	color: #333333;	
	font-size: 25px;
	margin-top: 23px;
	text-align: left;
}
/*================================*/


.date-text-container{

}
.prog-bar-container{
  display: table;
  width: 100%;
  height: 150px;
  margin-top: 50px;
}
.aqi-labels-container{
  display: table-cell;
  width: 40%;
  height: 100%;
  text-align: right;
  border-right:1px solid #9E9E9E;
  padding-right: 10px;
  font-family: proxima_medium;
  font-size: 19px;
  color: #9E9E9E;
}
.aqi-bar-container{
  display: table-cell;
  width: 60%;
  height: 100%;
  font-family: proxima_medium;
  font-size: 14px;
  color: #9E9E9E;
   
}
#myProgress1{
  display: table;
  width: 100%;
  margin-top: 11px;
}
#myProgress10{
  display: table;
  width: 100%;
}
#myProgress {
  display: table;
  width: 100%;
  margin-top: 17px;
}

#myBar1 {
  display: table-cell;
  width: 10%;
  height: 14px;
  background-color: #2ECC71;
  text-align: right;
  line-height: 14px;
  color: white;
}
#myBar2 {
  display: table-cell;
  width: 21%;
  height: 14px;
  background-color: #F1C40F;
  text-align: right;
  line-height: 14px;
  color: white;
}
#myBar3 {
  display: table-cell;
  width: 29%;
  height: 14px;
  background-color: #E74C3C;
  text-align: right;
  line-height: 14px;
  color: white;
}
#myBar4 {
  display: table-cell;
  width: 40%;
  height: 14px;
  background-color: #9B59B6;
  text-align: right;
  line-height: 14px;
  color: white;
}
#myBar5 {
  display: table-cell;
  width: 60%;
  height: 14px;
  background-color: #96281B;
  text-align: right;
  line-height: 14px;
  color: white;
}
#myBard1{
  display: table-cell;
  width: auto;
  padding-left: 4px;
}
#myBard2{
  display: table-cell;
  width: auto;
  padding-left: 4px;
}
#myBard3{
  display: table-cell;
  width: auto;
  padding-left: 4px;
}
#myBard4{
  display: table-cell;
  width: auto;
  padding-left: 4px;
}
#myBard5{
  display: table-cell;
  width: auto;
  padding-left: 4px;
}
