.datasheet-main-container{
	padding: 0px 20px 0px 20px;
}
.datasheet-main-wrapper{
	display: table;
	height: 40px;
	width: 100%;
	margin-top: 10px;
	/*background: green;*/
}
.datasheet-header-container{
	display: table-cell;
	width: 20%;
	border: 1px solid lightgrey;
	text-align: center;
	vertical-align: middle;

}

.datasheet-header-container:nth-child(1){
	width: 5%;	
}
.datasheet-header-container:nth-child(2){
	width: 17%;	
}
.datasheet-header-container:nth-child(3){
	width: 17%;	

	background: yellow;
}
.datasheet-header-container:nth-child(6){
	width: 17%;
}
.datasheet-header-container:nth-child(7){
	/*background: yellow;*/	
	padding: 10px;
}

.export-button-comps{
	text-decoration: underline;
	text-decoration-color: lightblue;
	color: lightblue;
	cursor: pointer;
}
.export-button-comps:hover{
	text-decoration: underline;
	text-decoration-color: #2296c9;
	color: #2296c9;
	cursor: pointer;
}