@font-face {
    font-family: roboto_medium;
    src: url(../fonts/Roboto/Roboto/Roboto-Medium.ttf);
}

@font-face {
    font-family: roboto_regular;
    src: url(../fonts/Roboto/Roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: roboto_bold;
    src: url(../fonts/Roboto/Roboto/Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto_italic;
    src: url(../fonts/Roboto/Roboto/Roboto-Italic.ttf);
}



@media only screen and (min-width: 768px) {

    #des{
		display: inline-block;
		float: right;
		height:400px;
	}
	#sDes{
		display: inline-block;
		float: right;
		padding-bottom: 20px;
	}
	#icon{
		display: inline-block;
	}
	#subs{
		display: table;
		width: 100%;
		margin-top: 192px; 
	
	}
	#keys{
		display: inline-block;
	}
}
@media only screen and (max-width: 992px) {
	#phone{
		margin-left: calc(50% - 143px);
	}
}
@media screen and (max-width: 699px) and (min-width: 300px)  {
	#foo1, #fooi{
		width: 96%;
		margin-left: 2%;
		margin-right: 2%;

	}
	#keys{
		display: block;
		width: 100%;
		margin-top: 2px;
	}
}


.transparent-nav{
	background-color: transparent;
	-webkit-transition: width 2s; /* Safari */
    -webkit-transition-timing-function: linear; /* Safari */
    transition: width 2s;
    transition-timing-function: linear;
    color: white;
}
.dark-nav-header{
	background-color: #333333;
	box-shadow: 1px 1px 10px #888888;
}
.ambee-logo-conatiner{
	margin-top: -10px;
	height: 40px;
	width: 156px;
	background-image: url('../img/master/ambee.png');
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.hero-img{
	padding-bottom: 35px; 
}
.hero-img-container{
	position: relative;
	height: 641px;
	width: 100%;
	background-image: url('../img/master/Mask_Group@2x.png');
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-position: center center;
}	
.toggle-custom, .icon-bar{
	border:1px solid #fff;
}
#MyNavbar{
	background-color: yellow;
}

.header-container{
	text-align: center;
	position: absolute;
	height: 641px;
	background-color: rgba(0, 0, 0, 0.7);
	margin-top: -641px;
}
.hero-heading-container{
	margin-top: 155px;
	font-size: 38px;
	color: #FFFFFF;
	font-family: roboto_bold;
	line-height: 46px;
}
.hearo-para-container{
	font-size: 24px;
	font-family: roboto_regular;
	line-height: 29px;
	color: #FFFFFF;
	margin-top: 19px;
	text-align: center;
	margin-left: 10%;
	margin-right: 10%;
}
.Pre-order-button{
	background: #2296C9;
	border: 1px solid #2296C9;
	font-size:16px;
	color: #FFFFFF;
	font-family: roboto_regular;
	line-height: 20px;
	height: 42px;
	width: 142px;
	margin-top: 20px;
	border-radius: 3px;
}
.second-container{
	text-align: center;
}
.pink-color-container{
	color: #da5682;
	font-family: roboto_medium;
	line-height: 41px;
}
.second-container-heading{
	font-family: roboto_medium;
	line-height: 41px;
	font-size: 34px;
	color: #333333;
	text-align: center;
}
.second-container-para{
	text-align: center;
	margin-top: 20px;
	margin-left: 2%;
	margin-right: 2%;
	width: 96%;
	color: #333333;
	font-size: 24px;

	font-family: roboto_regular;
	line-height: 29px;
}
.map-setion-container{
	display: block;
	margin-top: 77px;
	width: 100%;
}	
.map-container{
	display: inline-block;
	height:400px;
	background-image: url('../img/master/map.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.map-data-container{
	display: inline-block;
}
.map-description-header{
	margin-top: 22px;
	font-size: 34px;
	font-family: roboto_medium;
	line-height: 41px;
}
.map-description-para{
	margin-top: 19px;
	font-size: 20px;
	color: #333333;
	font-family: roboto_regular;
	line-height: 29px;
}
.phone-with-data-container{
	margin-top: 50px;
	display: block;
}

.phone-data-container{
	display: inline-block;
	float: left;
	padding-bottom: 50px;

}
.phone-des-item-container{
 	text-align: right;
	color:#333333;
}
.phone-des-item-header{
	font-size:20px; 
	color:#333333;
	margin-top: 20px;
	font-family: roboto_medium;
	line-height: 24px;
}
.phone-des-item-para{
	font-size: 14px;
	color:#333333;
	margin-top: 10px;
	font-family: roboto_regular;
	line-height: 17px;
}
.store-container{
	height: 75px;
	width: 100%;
	text-align: center;
	margin-top: 31px;
}
.get-label-conatiner{
	font-size: 20px;
	color: #333333;
	font-family: roboto_medium;
	line-height: 41px;
}
.andriod-store-container{
	margin-top: 10px;
	height: 40px;
	width: 120px;
	margin-left: calc(50% - 60px);
}

.phone-container{
	height: 597px;
	width: 287px;
	margin-left: 102px;
	display: inline-block;
	align-content: center;	
	background-image: url('../img/master/iphone.png');
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 100% 100%;
}
.screen-img{
	height: 100%;
	width: 100%;
}
.phone-screen-container{
	height: 458px;
	width: 258px;
	margin-top: 69px;
	background: yellow;
}
.product-main-container{
	margin-top: 60px;
	text-align: center;
}
.custom-pill-container{
	display: table;
	width: 100%;
	text-align: center;
	height: 40px;
}
.blank-div-cont{
	display: table-cell;
	width: 5%;
	height: 100%;
}
a:link {
	text-decoration: none;
	color: #FFFFFF;
	font-size: 20px;
	font-family: roboto_medium;
	line-height: 24px;
}

a:visited {
    text-decoration: none;
    color: #FFFFFF;
	font-size: 20px;
	font-family: roboto_medium;
	line-height: 24px;
}

a:hover {
    text-decoration: none;
	font-size: 20px;
	font-family: roboto_medium;
	line-height: 24px;
}
a:active {
	font-size: 20px;
    text-decoration: none;
    font-family: roboto_medium;
    line-height: 24px;
}
.custom-pill-buttons{
	display: table-cell;
	width: 150px;
	height: 100%;
	line-height: 40px;
	vertical-align: middle;
	border:1px solid lightgrey;
	border-radius: 3px;
	margin-left: 2%;
	
}
.custom-pill-buttons:hover{
	border:1px solid #DA5682;
	border-radius: 3px;
}
.color-button-container{
	height: 147px;
}
.color-label-container{
	margin-left: 18px;
	color: #333333;
	font-size: 24px;
	margin-top: 22px;
	font-family: roboto_medium;
	line-height: 20px;
}
.radio-main-container{
	display: table;
	height: 40px;
	width: 130px;
	text-align: center;
	margin-top: 10px;
	margin-left: calc(50% - 55px);
}
.sensor-img-container{
	display: block;
}
.img-container{
	display: inline-block;
	padding-bottom: 20px;
}
.sensor-description-container{
	display: inline-block;
	height: 520px;
}
.des-heder-container{
	font-size: 34px;
	color: #333333;
	text-align: left;
	margin-top: 92px;
	font-family: roboto_medium;
	line-height: 41px;
}
.des-para-body-container{
	margin-top: 12px;
	font-size: 20px;
	color: #333333;
	font-family: roboto_regular;
	line-height: 29px;
	text-align: left;
}
.feature-container{
	width: 100%;
	margin-top: 65px;
	text-align: center;
}
.featured-in-label{
	margin-top: 70px;
	font-size: 34px;
	color: rgba(51, 51, 51, 1);
	font-family: roboto_medium;
	line-height: 41px;
}
.feature-icons-container{
	display: inline-block;
	margin-top: 9px;
}
.img1{
	height: 124px;
	background-image: url('../img/master/The_Vault.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.img2{
	height: 124px;
	background-image: url('../img/master/Techcircle.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.img3{
	height: 124px;
	background-image: url('../img/master/Economic_Times.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.img4{
	height: 124px;
	background-image: url('../img/master/bloomberg.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.footer-container{
	margin-top: 59px;
	background: #333333;
	text-align: center;
}
.footer-subs-container{
	margin-top: 62px;
	font-size: 24px;
	color: #ffffff;

	font-family: roboto_regular;
	line-height: 29px;
	width: 40%;
	margin-left:30%;
	margin-right: 30%;
}
.subscribe-email-container{
	display: table;
	text-align: center;
	width: 46%;
	height: 50px;
	margin-left: 27%;
	margin-right: 27%;
}

.text-box-container{
	margin-top: 17px;
	display: table-cell;
	height: 100%;
	width: 75%;
	padding-left: 15px;
	padding-right: 15px;
	font-size: 22px;
	color: #9E9E9E;

	font-family: roboto_regular;
	line-height: 27px;
}
.submit-button-container{
	display: table-cell;
	height: 100%;
	width: 25%;
	font-size: 22px;
	color: #FFFFFF;

	font-family: roboto_regular;
	line-height: 27px;
	background-color: #DA5682;
	border:1px solid #DA5682;
}
.feats-key-container{
	display: table;
	width: 80%;
	margin-right: 10%;
	margin-left: 10%;
	margin-top: 69px;
	color: #fff;
	font-size: 20px;

	font-family: roboto_regular;
	line-height: 24px;
}
.keys{
	display: table-cell;
	width: 17%;
	vertical-align: middle;
}

.icon-main-wraper{
	display: table;
	width: 100%;
	height: 100%;
}
.fb-ico{
	display: table-cell;
	width: 22px;
	height:22px;
	background-image: url('../img/master/fb.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.insta-ico{
	display: table-cell;
	width: 22px;
	height:22px;
	background-image: url('../img/master/insta.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.twiter-ico{
	display: table-cell;
	width: 22px;
	height:22px;
	background-image: url('../img/master/twit.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.linkdn-ico{
	display: table-cell;
	width: 22px;
	height:22px;
	background-image: url('../img/master/lnkdn.png');
	background-repeat: no-repeat;
	background-position: center center;
}
.copy-right-container{
	width: 90%;
	border-top: 1px solid #FFFFFF;
	margin-top: 13px;
	margin-left: 5%;
	margin-right: 5%; 
	line-height: 50px; 
	font-family: roboto_regular;
	font-size: 16px; 
	color: #ffffff;
}

/*tabs css*/

.tab {
    overflow: hidden;
}

/* Style the buttons inside the tab */
.tab button {
    border-radius: 3px;
    color: #9e9e9e;
    border: none;
    outline: none;
    cursor: pointer;
    transition: 0.3s;
    border:1px solid #9e9e9e;
    background: inherit;
    font-family: roboto_medium;
    line-height: 20px;
}

/* Change background color of buttons on hover */
.tab button:hover {
    border:1px solid #333333;
    border-radius: 3px;
    color: #333333;
    
}

/* Create an active/current tablink class */
.tab button.active {
    border:1px solid #DA5682;
    border-radius: 3px;
    color: #DA5682;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;
}

/*radio button*/

.container-radio {
    /*display: block;*/
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    vertical-align: middle;
	display: table-cell;
}
.container-radio input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    width: 40px;
    background-color: #333333;
    border-radius: 50%;
    text-align: center;	
}
.container-radio input:checked ~ .checkmark:nth-chid(1) {
    border:2px solid #DA5682;
    background: #f9f9f9;
}
.container-radio input:checked ~ .checkmark {
    border:2px solid #DA5682;
    background: #000000;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container-radio input:checked ~ .checkmark:after {
    display: block;
}
.container-radio .checkmark:after {
 	left: 15px;
    top: 8px;
    width: 9px;
    height: 18px;
    border:solid #DA5682;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

